@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url("./fonts/Mulish-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Mulish";
}

body {
    width: 1120px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

/*work with header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #F5F5F5;
    position: fixed;
    width: 1120px;
    margin: 0 auto;
    top: 0;

}

header .img-logo {
    background-image: url(./assets/Course\ topics.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 124px;
    height: 38px;
}

header .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
}

header nav {
    display: flex;
}

header nav p:not(:last-child) {
    margin-right: 35px;
}


/*work with main */


/*work with introductory */

.introductory {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.introductory .info {
    width: 560px;
}

.introductory .img-video {
    background-image: url(./assets/Group\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 520px;
    height: 380px;
    position: relative;
    left: 120px;
}

.introductory h1 {
    font: 800 60px'Mulish';
    color: #001A49;
}

.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-top: 20px;
}

.introductory .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    text-align: center;
    width: 206px;
    padding: 19px 0;
    font: 700 20px 'Mulish';
    color: #FFFFFF;
    margin-top: 35px;
}


/*work with statistics */


.statistics h2 {
    font: 800 40px 'Mulish';
    color: #001A49;
}

.statistics p {
    font: 400 16px 'Mulish';
    color: #4F596A;
}

.statistics .wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    height: 172px;
    align-items: center;
}

.statistics .wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 373px;
}

.statistics .wrapper div :not(:last-child) {
    border-right: 1px;
    background-color: #E7EAEB;

}


/*work with about-us */

.about-us .advantage h1 {
    font: 800 46px 'Mulish';
    text-align: center;
    color: #001A49;
    margin-top: 194px;
}

.about-us .advantage p {
    font: 400 20px 'Mulish';
    text-align: center;
    margin: 0px auto 61px;
    color: #4F596A;
    width: 560px;
}

.about-us .wrapper-2 :not(:last-child) {
    margin-bottom: 30px;
}

.about-us .wrapper-2 .info {
    background-color: #EEF7FF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    height: 172px;
}

.about-us .wrapper-2 .info .img-vector {
    background-image: url(./assets/Group\ 8.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-left: 46px;
    position: relative;
    top: -100px;
}

.about-us h2 {
    font: 800 24px 'Mulish';
    color: #001A49;
    margin: 39px 0 0 130px;
}

.about-us .wrapper-2 p {
    font: 400 16px 'Mulish';
    color: #4F596A;
    margin: 20px 0 0 130px;
}

.rightnow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightnow h2 {
    font: 800 50px 'Mulish';
    color: #001A49;
    margin-top: 11px;
    text-align: center;
}

.rightnow .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    text-align: center;
    width: 206px;
    padding: 19px 0;
    font: 700 20px 'Mulish';
    color: #FFFFFF;
    margin-top: 12px;
}

.rightnow .img-text {
    background-image: url(./assets/Marico\ \(2\).svg);
    width: 153px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 122px;
    text-align: center;
}



/*work with footer */

footer {
    margin-top: 129px;
}

footer .img-text {
    background-image: url(./assets/Marico.svg);
    background-repeat: no-repeat;
    width: 78px;
    height: 56px;
}

footer div {
    display: flex;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer div h1 {
    font: 800 37px 'Mulish';
    color: #001A49;
}

footer nav p {
    font: 500 27px 'Mulish';
    color: #707070;
}

footer nav p:not(:first-child) {
    position: relative;
    top: -40px;
}

@media screen and (max-width: 600px) {

    body {
        width: 600px;
    }

    header {
        width: 600px;
    }

    header na {
        display: none;
    }

    .introductory {
        margin-top: 100px;
    }

    .introductory .img-video {
        display: none;
    }

    .introductory .info h1 {
        font: 800 30px "Mulish";
        text-align: center;
    }

    .introductory .info p {
        text-align: center;
    }

    .introductory .info .btn {
        margin: auto;
    }

    .statistics .wrapper {
        flex-direction: column;
        background-color: #F5F5F5;
        border-width: 0;
        align-items: center;
    }

    .statistics .wrapper div :not(:last-child) {
        border-width: 0;
    }

    .statistics .img-circle {
        display: none;
    }

    .about-us .wrapper-2 .info {
        max-width: 600px;
        height: 200px;
    }

    .about-us .wrapper-2 .info .img-vector {
        display: none;
    }

    .about-us .wrapper-2 .info p {
        margin: 0;
    }

    .about-us .wrapper-2 .info h2 {
        margin: 15px 0 0;
    }

    .about-us .wrapper-2 .info p {
        margin: 15px 0 0;
    }

    .rightnow .img-text {
        width: 103px;
        height: 100px;
    }

    .rightnow h1 {
        font-size: 75px;
        text-align: center;
    }

    footer .img-text {
        width: 58px;
        height: 36px;
    }

    footer h1 {
        font-size: 25px;
    }


}